/* Basic Styling */
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }

  /* Columns */
  .left-column {
    width: 65%;
    position: relative;
  }
  .right-column {
    width: 35%;
    margin-top: 60px;
  }

  .left-column img {
    max-height:600px;
    max-width:600px;
    height:auto;
    width:auto;
    margin-top: 100px;
  }
  
  /* Right Column */
  /* Product Description */
  .product-description {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .p-category {
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .p-name {
    font-weight: 300;
    font-size: 32px;
    color: #000000;
    letter-spacing: -2px;
  }
  .p-description {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 24px;
  }
  .p-stock {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 24px;
  }
  .p-price{
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    line-height: 24px;
  }

  button {
    background: none;
    padding: 5px 5px;
    width: fit-content;
    text-align: center;
    outline: none;
  }
  button:active {
    border-style: outset;
  }
  /* Product Price */
  .product-price {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
    color: #000000;
    margin-right: 20px;
  }


  .p-addcart form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .p-quantity{
    font-size: 16px;
    color: #000000;
  }
  .p-input{
    margin-bottom: 3px;
  }


  .cart-btn {
    display: inline-block;
    background-color: #8a8e94;
    border-radius: 6px;
    font-size: 16px;
    color: #ffffff;
    padding: 12px 30px;
    transition: all .5s;
    text-align: center;
    border: 1px black;
    margin-bottom: 3px;
  }
  .cart-btn:hover {
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
  }

  .view-all-btn{
    display: inline-block;
    background-color: #8a8e94;
    border-radius: 6px;
    font-size: 16px;
    color: #ffffff;
    padding: 12px 30px;
    transition: all .5s;
    text-align: center;
    border: 1px black;
    margin-bottom: 15px;
  }
  .view-all-btn:hover {
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
  }