{% extends "base.html" %}

{% block content %}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="purchase.css">
</head>

<body>
    <div>
        <div class="row">
            <div class="col-md-3 mt-1">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <img src="https://users.cs.duke.edu/~junyang/media/portrait.jpg" class="rounded-circle"
                            width="150">
                        <div class="mt-3">
                            <h3>{{user.firstname}} {{user.lastname}}</h3>
                            <p>Account ID: {{user.id}}</p>
                            <hr>
                            <div class="tabs">
                                <a href="{{ url_for('users.profile') }}">Account Details</a>
                                <hr>
                                <a href="{{ url_for('users.paymentHistory') }}">Balance Info</a>
                                <hr>
                                <a href="">Order History</a>
                                <hr>
                                <a href="{{ url_for('users.reviews') }}">Reviews</a>
                                <hr>
                                <a href="{{ url_for('users.settings') }}">Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-1">
                <div class="card mb-3 content">
                    <h1 class="m-3 pt-3">Your Order History</h1>
                    <div class="card-body">
                        <table class='table table-hover table-bordered container'>
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Time Ordered</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total Cost</th> 
                                    <th scope="col">Fullfillment Status</th>
                                    <th scope="col">Order Link</th> 
                                    <th scope="col">Seller Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in purchase_history%}
                                <tr>
                                    <th scope="row">{{item.order_id}}</th>
                                    <td>{{item.time_ordered}}</td>
                                    <td>{{item.product_name}}</td>
                                    <td>${{item.price}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>${{item.order_cost}}</td>
                                    <td>{{item.fulfillment_status}}</td>
                                    <td><a href = "{{ url_for('users.order_confirmation', order_id = item.order_id) }}">Order Link</a></td>
                                    <td><a href="{{ url_for('users.publicUser', id=item.seller_id) }}">{{item.seller_id}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>  
                </div>
            </div>
        </div>
    </div>

</body>

</html>



{% endblock %}