{% extends "base.html" %}

{% block content %}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="reviews.css">
</head>
<style>
    .divScroll {
    overflow:auto;
    height:500px;
    width:1000px;
    }
</style>

<body>
    <div>
        <div class="row">
            <div class="col-md-3 mt-1">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <img src="{{user.imageLink}}" class="rounded-circle"
                            width="150">
                            <br>
                            <button type="button" class="btn btn-dark" style="float: center" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalProfilePic">
                                Change Profile Picture
                            </button>
                            <div class="modal fade" id="exampleModalProfilePic" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Change Profile Picture</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="text-align:left">
                                            <form>
                                                <label for="profilepic">Picture Link: </label>
                                                <input type="text" id="profilepic" name="profilepic">
                                                <input type="submit" value="Submit">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="mt-3">
                            <h3>{{user.firstname}} {{user.lastname}}</h3>
                            <p>Account ID: {{user.id}}</p>
                            <hr>
                            <div class="tabs">
                                <a href="{{ url_for('users.profile') }}">Account Details</a>
                                <hr>
                                <a href="{{ url_for('users.paymentHistory') }}">Balance Info</a>
                                <hr>
                                <a href="{{ url_for('users.purchaseHistory') }}">Order History</a>
                                <hr>
                                <a href="">Reviews</a>
                                <hr>
                                <a href="{{ url_for('users.settings') }}">Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            
                <div class = "col-md-3 mt-1">
                    <div class = "divScroll">
                        <div class="col-md-8 mt-1">
                            <div class="card mb-3 content">
              
                                <h1 class="m-3 pt-3">Your Reviews</h1>
                                <div class="card-body">
                                    <div class="row">
                                        {% for sellerreview in sellerReviews %}
                                            <div class="card p-3">
                                                <blockquote class="blockquote mb-0 card-body">
                                                <p>{{ sellerreview.description}}</p>
                                                <footer class="blockquote-footer">
                                                 <small class="text-muted">
                                                <cite title="User"> </cite> You were rated {{ sellerreview.rating }} <cite> stars on  {{ sellerreview.time_reviewed }}</cite>
                                                    </small>
                                                </footer>
                                                </blockquote>
                                                <a href="{{ url_for('users.publicUser', id=sellerreview.seller_id) }}">See Full Rating Profile</a> 
                                            </div>
                                            {% endfor %}
                                    </div>
                                </div>
                                
                                <h5></h5>
                            </div>
                        </div>
                    </div>
                
                <div class="col-md-3 mt-1">
                    <div class = "divScroll">
                        <div class = "col-md-8 mt-1">
                            <div class="card mb-3 content">
                    
                                <h1 class="m-3 pt-3">You Reviewed</h1>
                                <div class="card-body">
                                    <div class="row">
                                        {% for review in reviews %}
                                            <div class="card p-3">
                                                <blockquote class="blockquote mb-0 card-body">
                                                <p>{{ review.description}}</p>
                                                <footer class="blockquote-footer">
                                                <small class="text-muted">
                                                <cite title="User"> </cite> You rated this product {{ review.rating }} <cite> stars on  {{ review.time_reviewed }}</cite>
                                                </small>
                                                </footer>
                                                </blockquote>
                                                <a href="{{ url_for('review.review_page', id=review.product_id) }}">View Product Review</a> 
                                            </div>
                                            {% endfor %}
                                            {% for rev in reviews4seller %}
                                            <div class="card p-3">
                                                <blockquote class="blockquote mb-0 card-body">
                                                <p>{{ rev.description}}</p>
                                                <footer class="blockquote-footer">
                                                <small class="text-muted">
                                                <cite title="User"> </cite> You rated this seller {{ rev.rating }} <cite> stars on  {{ rev.time_reviewed }}</cite>
                                                </small>
                                                </footer>
                                                </blockquote>
                                                <a href="{{ url_for('users.publicUser', id=rev.seller_id) }}">View Seller Review Page</a> 
                                            </div>
                                            {% endfor %}
                                    </div>
                                </div>
                            
                                <h5></h5>
                            </div>
                        </div>
                 


                    </div>
                </div>
            
        </div>
    </div>
        
  
</body>

</html>



{% endblock %}