{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="ratings.css">
</head>
<br>
<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li style="color: red;">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>
<form action="{{ url_for('filter.filter') }}" method="post">
    <label for="categories">Category:</label>
  
    <select name="categories" id="categories">
      <option value="All">All</option>
      <option value="Accessories">Accessories</option>
      <option value="Autmotives">Automotives</option>
      <option value="Books">Books</option>
      <option value="Beauty">Beauty</option>
      <option value="Clothing">Clothing</option>
      <option value="Electronics">Electronics</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Food">Food</option>
      <option value="Home">Home</option>
      <option value="Outdoors">Outdoors</option>
      <option value="Other">Other</option>
      <option value="Pet Supplies">Pet Supplies</option>
      <option value="Sports">Sports</option>
      <option value="Toys">Toys</option>
    </select>
    <br>
    <label for="rating">Rating:</label>
    <select name="rating" id="rating">
      <option value="0">Any</option>
      <option value="1">1+</option>
      <option value="2">2+</option>
      <option value="3">3+</option>
      <option value="4">4+</option>
      <option value="5">5</option>
    </select>
    <br>
    <label for="minPrice">min price:</label>
    <input type="float" id="minPrice" name="minPrice" min="0">
  
    <label for="maxPrice">max price:</label>
    <input type="float" id="maxPrice" name="maxPrice" min="minPrice">
  
    <br>
    <input type="submit" value="Filter">
</form>
<br>
<h2>Filter results:</h2>
<table class='table table-hover table-bordered container' id="table1">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for product in avail_products%}
        <tr>
          <th scope="row">{{product.id}}</th>
          <td><a href="{{ url_for('index.product', id=product.id) }}">{{product.name}}</a></td>
          <td>${{product.price}}</td>
          <td>{{ "%.2f Stars"|format(product.rating) }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    
<script>
    $(document).ready(function () {
        $('#table1').DataTable();
    });
</script>

{% endblock %}
      

      
