{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="../static/css/products.css">
</head>
<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li style="color: red;">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
 </p>
<br><br>
<div class = "p-header">Best Sellers</div>
<div class= "product-grid">
  {% for product in avail_products %}
    <div class= "product">
      <img class="product-image"  src="{{product.imagelink}}" alt="">
      <div ><a class="product-name" href="{{ url_for('index.product', id=product.id) }}">{{product.name}}</a></div>
      <div class="product-price">${{"%.2f"|format(product.price)}}</div>
      <div class="product-quantity">Times Sold: {{product.sum}}</div>
    </div>
  {% endfor %}
</div>

<div class = "p-header">Highest Rated</div>
<div class= "product-grid">
  {% for product in top_rated %}
    <div class= "product">
      <img class="product-image"  src="{{product.imagelink}}" alt="">
      <div ><a class="product-name" href="{{ url_for('index.product', id=product.id) }}">{{product.name}}</a></div>
      <div class="product-price">${{product.price}}</div>
      <div class="product-quantity">Rating: {{ "%.2f Stars"|format(product.avg) }}</div>
    </div>
  {% endfor %}
</div>


<style>
  .center {
    margin: 10px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>
<br>
<div class="center">
  <a class="view-all-btn" href= "{{ url_for('index.products') }}">View All Products</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable();
    });
</script>
{% endblock %}
