{% extends "base.html" %}

{% block content %}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div>
        <div class="row">
            <div class="col-md-3 mt-1">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <img src="https://users.cs.duke.edu/~junyang/media/portrait.jpg" class="rounded-circle"
                            width="150">
                        <div class="mt-3">
                            <h3>{{user.firstname}} {{user.lastname}}</h3>
                            <p>Account ID: {{user.id}}</p>
                            <hr>
                            <div class="tabs">
                                <a href="">Account Details</a>
                                <hr>
                                <a href="{{ url_for('users.publicUserProducts', id=user.id) }}">Their Products</a>
                                <hr>
                                <a>Average Rating: {{getAvg}}</a>
                                <hr>
                                <a>Number of Reviews: {{numReview}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-1">
                <div class="card mb-3 content">
                    <h1 class="m-3 pt-3">About</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>First Name</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{user.firstname}} 
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Last Name</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{user.lastname}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Email</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                {{user.email}}
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        {% if myself %}
                        {% if current_user_review %}
                        <h1 class="m-3 pt-3">My Current Review</h1>
                            <div class="card">
                                <blockquote class="blockquote mb-0 card-body">
                                    <footer class="blockquote-footer">
                                        <small class="text-muted">
                                            <cite title="User"></cite> My current review: {{ current_user_review.rating }}
                                        </small>
                                    </footer>
                                    <form action="" method="post" validate>
                                        {{ form2.hidden_tag() }}
                                        {{ form2.submit2(class_="btn btn-black") }}
                                    </form>
                                </blockquote>
                            </div>
                            
                    </div>
                    
                     <!-- Product Review -->
                    
                     <h1 class="m-3 pt-3">Update Review for Seller</h1>
                     <form action="" method="post" validate>
                       {{ form.hidden_tag() }}
                       <p>
                         {{ form.rating1.label }}<br/>
                         {{ form.rating1(size=1) }}<br/>
                         {% for error in form.rating1.errors %}
                         <span style="color: red;">[{{ error }}]</span>
                         {% endfor %}
                       </p>
                       {{ form.submit1(class_="btn btn-black") }}
                     </form>
                
                     {%else%}
                     <div class="col">
                        <h1 class="m-3 pt-3">Leave Review for Seller</h1>
                     <form action="" method="post" validate>
                        {{ form3.hidden_tag() }}
                        <p>
                          {{ form3.rating3.label }}<br/>
                          {{ form3.rating3(size=1) }}<br/>
                          {% for error in form3.rating3.errors %}
                          <span style="color: red;">[{{ error }}]</span>
                          {% endfor %}
                        </p>
                        {{ form3.submit3(class_="btn btn-black") }}
                      </form>
                    </div>
                     {% endif %}
                     {% endif %}
                </div>
            </div>
        </div>
    </div>  
</body>

</html>



{% endblock %}
